body {
    background-color: #cba589;
}

p {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4vh;
    max-width: 35em;
    display: block;
}

form {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
}

section .centrify {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

table .details {
    color: white;
    margin: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vh;
}

th .details {
    padding-bottom: 1em;
    padding-right: 1em;
    height: 3vh;
}

table .form {
    color: white;
    margin: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vh;
}

th .form {
    padding-bottom: 1em;
    padding-right: 1em;
    height: 3vh;
}

input {
    line-height: 2vh;
    font-size: 1.5vh;
}

select {
    line-height: 2vh;
    font-size: 1.5vh;
}

textarea {
    line-height: 2vh;
    font-size: 1.5vh;
}

button {
    line-height: 2vh;
    font-size: 1.5vh;
    padding: 5px 10px 5px 10px;
}

#x {
    position: absolute;
    top: 0px;
    right: 1vh;
    font-size: 4vh;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.text {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4vh;
    max-width: 35em;
}

.body {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 1.2em;
}

#emptyHeight {
    height: 30%;
    width: 100%;
    display: block;
}